/.DS_Store
/04_build-something
/06_intro-to-programming
/07_variables-and-types
/08_numbers-and-math
/09_strings-and-text
/10_operators-and-booleans
/11_conditionals-and-loops
/12_user-input-string-formatting
/13_modules-and-automation
/README.md
/projects